/* css file for pyke content pages. http://pyke.sourceforge.net.
*/

/***********************************
 
 Ids used:

 #startcontent          -- <a name=> tag, has no contents
 #the-whole-page        -- <body>
 #end                   -- <div>
 #main                  -- <div>
 #nav                   -- <div>
 #page-table            -- <table>
 #body                  -- <tbody>
 #left-nav              -- <td>
 #left-nav-div          -- <div>
 #sf-logo               -- <div>
 #main-td               -- <td>
 #foot                  -- <tfoot>
 #body-tr               -- <tr>
 #foot1                 -- <tr>
 #final-stuff           -- <td>
 #foot2                 -- <tr>
 #copyright             -- <td>
 #header1               -- <tr>
 #header                -- <td>
 #header2               -- <tr>
 #crumb-line            -- <td>

 ***********************************/

/***********************************
 
 Classes used:

 .normal-nav             -- <a> in left nav
 .title-nav              -- <a> in left nav

 -- these may be combined:
 .first                  -- <ul> tag, <dl> with docutils class, <p> in <li>
 .last                   -- <ul> tag
 .simple                 -- <ul> tag

 .docutils               -- <dl> with first class

 .displaybox             -- <div>
 .document               -- <div>
 .nav-branch             -- <div>
 .section                -- <div>
 .title                  -- <h1>
 .subtitle               -- <h2>
 .head                   -- <thead>

 ***********************************/

@import url(rest.css);
@import url(test.css);

body {
    background-color: #E0E3D8;
    color: #000000;
    margin: 0;
}

a {
    color: #545D4D;
}

a:hover {
    color: #9AA690;
}

#copyright {
    background-color: #67735D;
    text-align: center;
    color: #fff;
    font-size: 10px;
    padding: 5px 0 5px 0;
}

#page-table {
    font-family: arial, helvetica, geneva, sans-serif; 
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #67735D;
}

#foot1 {
    background-color: #86947A;
}

#header1, #header, #page-table, #header2, .head,
#crumb-left, #crumb-line, #crumb-right, #nav {
    margin-top: 0px;
    margin-bottom: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    top: 0px;
    bottom: 0px;
}

#crumb-line {
    color: #fff;
}

#crumb-line a {
    color: #fff;
    text-decoration: none;
}

#crumb-line a:hover {
    color: #000;
    background-color: #EEE;
}


#header {
    height: 77px;
    background-color: #B4C0AA;
    background-image: url(../images/header.gif);
    background-position: 3px 0px;
    background-repeat: no-repeat;
    text-align: center;
    color: silver;
    font-size:31pt;
}

#header img {
    display: block;
    margin: 15px auto 10px;
}

#header a:hover{background:none;}

#crumb-left, #crumb-line, #crumb-right {
    background-color:#67735D;
    padding:3px;
}


#nav {
    text-align:left;
    font-size:10pt;
    font-weight: bold;
    padding-left: 8px;
}
#nav ul {
    margin:0;
    padding:0
}
#nav li {
    display:inline;
    list-style:none;
    margin:0;
    padding:0;
}

#left-nav, #right-nav, #crumb-left, #crumb-right, #final-left, #final-right {
    vertical-align: top;
}

#left-nav {
    padding: 40px 10px 0 10px;
    border-right: 1px solid #67735D;
    border-left: 1px solid #67735D;
    width: 160px;
    background-color: #CFD8C8;
}

#left-nav a {
    color: #606B57;
    font-size: 14px;
    line-height: 27px;
    padding: 4px;
}

#left-nav a:hover {
    background-color: #E2E2E2;
    padding: 4px;
}

#right-nav {
    padding: 40px 10px 0 10px;
    border-right: 1px solid #67735D;
    border-left: 1px solid #67735D;
    width: 170px;
    background-color: #DEE5D9;
    font-size: 13px;
    line-height: 17px;
}

/* #left-nav, #right-nav, #left-nav-div, #right-nav-div { */
#left-nav-div {
    height: 300px;
    top: 0px;
    bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

#left-nav-div {
 /* padding-right: 4px; */
}

#icons {
    padding: 80px 8px 20px 0;
    font-size: 12px;
}

#icons a {
    padding: 0;
}

#icons {
    margin-top: 55px;
}

#main, #main-td, .document {
    vertical-align: top;
    line-height: 20px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13px;
}

#document {
    width: 100%;
}

pre.literal-block, pre.doctest-block {
 /* margin: 1%; */
    background-color: #eeeeee;
    font-size: 11px;            /* was 11px */
    line-height: 1.6;
    border: thin black solid;
    padding: 5px;               /* was 5px */
}

/* div around each directory in left nav */
.nav-branch {
    margin-left: 7px;
}

/* directories in left nav */
.title-nav {
    font-weight: bold;
}

/* files in left nav */
.normal-nav {
}

#return-to-top {
    padding: 20px 0 15px 15px;
    font-size: 12px;
}

#last-modified {
    text-align: center;
    color: #000;
    font-size: 10px;
    padding: 7px 0 6px 0;
}

p {
    margin: 10px 0 20px 0;
}

#right-nav h3 {
    font-family: Times New Roman;
    font-size:18px;
    color: #00478E;
    font-weight:bold;
    margin-top: 0;
    margin-bottom: 0;
}

#right-nav-div {
    padding-right: 8px;
    /* border-left: 2px solid black; */
}

.right-item {
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.right-item p {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* FIX: not needed anymore
#right-nav ul {
    padding-left: 6px;
}
#right-nav li {
    margin-top: 10px;
}
*/
